<div id="loginsplash">
 <div id="login">
  <form action="">
   <label for="user">Username:</label><br/>
   <input name="user"/><br/>
   <label for="pass">Password:</label><br/>
   <input name="pass" type="password"/><br/>
   <input type="submit" value="Login"/>
   <input type="reset" value="Clear"/>
  </form>
 </div>
</div>
